<section>
<div class="section" id="about" style="background-color: black">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10" style="background-color: black">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title" style="color: white"><strong>About Me</strong></div>
              <p> Name: <strong> Harikrishnan P S </strong><br> Areas of Interest: <strong> HTML, CSS, Javascript, NodeJS, Express, MongoDB, Angular.</strong><br>Phone: <strong>+91-999 999 9999</strong></p>
                 <p class="text-muted"><i class="fa fa-map-marker text-right" aria-hidden="true"></i>&nbsp;<strong>Kerala, India</strong>
                  &nbsp; &nbsp; <i class="fa fa-envelope-o text-right"aria-hidden="true"></i>&nbsp;<strong>abcd@example.com</strong></p>
              </div>
          </div>
          
          <div class="col-lg-6 col-md-12">
            <div class="code-img">
              <img src="assets/about.jpg" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>