<div class="row ml-1">
    <div class="col">
        <div class="testimonial-card " style="background-color: brown">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col">
        <div class="contact-card">
            <form class="form-group">
                <h2 class="mb-3">Wanna Hire Me?</h2>
                <h3 class="mb-2">Let Me Know Your Queries!</h3> 
                <br>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                        </div>
                        <input type="text" class="form-control" id="FullName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                        </div>
                        <input type="email" class="form-control" id="Email" placeholder="abcd@example.com">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                        </div>
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Send" class="btn btn-info btn-block rounded-5 py-2">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

