   <section>
    <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title"><strong>SERVICES</strong></div><br>
                  
                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Full-Stack Development
                      </strong>
                      <hr style="margin:3px !important;"> 
                      <br><br></div>
                  </div>

                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Frontend Development
                      </strong>
                      <hr style="margin:3px !important;">
                      <br>
                      <br></div>
                  </div>

                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Backend Development
                      </strong>
                      <hr style="margin:3px !important;"> 
                      <br></div>
                  </div>

                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>