 <section
  id="home"
  [ngStyle]="{ backgroundImage: 'url(assets/intro-bg.jpg)' }"
  class="d-flex flex-column justify-content-center align-items-center"
>
 
    <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true">
            </div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image">
                  <a class="rounded-circle" href="#">
                    <img src="assets/Profile.webp" alt="Image">
                  </a>
                </div>
                <div class="h2 title"  style="color: white">&nbsp; &nbsp; <strong>Hello!!!</strong><br><br><strong>I'm Harikrishnan P S.</strong></div>
                <p class="category text-white"><br><strong>I'm a Full-Stack Developer.</strong></p>
                <a class="btn btn-primary smooth-scroll mr-2" routerLink="/contact" data-aos="zoom-in"
                  data-aos-anchor="data-aos-anchor"><strong>HIRE ME</strong></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 


     